<div class="row tm-row">
    <div class="col-12">
        <form action="" method="GET" class="form-inline tm-mb-80 tm-search-form">
            {% csrf_token %}                
            <input class="form-control tm-search-input" name="q" type="search" placeholder="Search..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>                                
        </form>
    </div>                
</div>