{% load static %}

<section class="about section-padding" id="section_2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <img
          src="{% static 'img/couple-working-from-home-together-sofa.jpg' %}"
          class="about-image img-fluid"
          alt=""
        />
      </div>

      <div class="col-lg-6 col-12 mt-5 mt-lg-0">
        <div class="about-thumb">
          <div
            class="section-title-wrap d-flex justify-content-end align-items-center mb-4"
          >
            <h2 class="text-white me-4 mb-0">Benim Hikayem</h2>

            <img
              src="{% static 'img/image.jpeg' %}"
              class="avatar-image img-fluid"
              alt=""
            />
          </div>

          <h3 class="pt-2 mb-3">Python Django Yolculuğum</h3>

          <p>
            Python Django ile olan yolculuğum üniversite birinci sınıfdayken online canlı eğitim aldığım bir kurs ile başladı.
            <a href="https://templatemo.com" target="_blank"></a>
            
          </p>
          <p>
            Aldığım bu temel eğitimin ardından, bölüm derslerim için Django kullanarak çeşitli projeler geliştirmeye başladım. 
            <a href="https://freepik.com" target="_blank"></a><br> Her projede yeni şeyler öğreniyor ve becerilerimi geliştiriyorum.
          </p>

          <p>
            Şu anda, Python ve Django ile web tabanlı uygulamalar geliştirmeye devam ederek kendimi daha da ilerletmeyi hedefliyorum.
            <a href="" target="_blank">
              <br><br>Daha fazla bilgi için.......</a>
            Benimle iletişime geç
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="featured section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="profile-thumb">
          <div class="profile-title">
            <h4 class="mb-0">Bilgi</h4>
          </div>

          <div class="profile-body">
            <p>
              <span class="profile-small-title">İsim</span>
              <span>Kadir Karakurt</span>
            </p>

            <p>
              <span class="profile-small-title">Doğum</span>
              <span>Aug 05, 2003</span>
            </p>

            <p>
              <span class="profile-small-title">Telefon</span>
              <span><a href="tel: 305-240-9671">0 552 337 28--</a></span>
            </p>

            <p>
              <span class="profile-small-title">Email</span>
              <span
                ><a href="mailto:hello@josh.design"
                  >misalkadir@gmail.com</a
                ></span
              >
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12 mt-5 mt-lg-0">
        <div class="about-thumb">
          <div class="row">
            <div class="col-lg-6 col-6 featured-border-bottom py-2">
              <strong class="featured-numbers">20+</strong>

              <p class="featured-text">Years of Experiences</p>
            </div>

            <div
              class="col-lg-6 col-6 featured-border-start featured-border-bottom ps-5 py-2"
            >
              <strong class="featured-numbers">245</strong>

              <p class="featured-text">Happy Customers</p>
            </div>

            <div class="col-lg-6 col-6 pt-4">
              <strong class="featured-numbers">640</strong>

              <p class="featured-text">Project Finished</p>
            </div>

            <div class="col-lg-6 col-6 featured-border-start ps-5 pt-4">
              <strong class="featured-numbers">72+</strong>

              <p class="featured-text">Digital Awards</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="clients section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-12">
        <h3 class="text-center mb-5">Companies I've had worked</h3>
      </div>

      <div class="col-lg-2 col-4 ms-auto clients-item-height">
        <img
          src="{% static 'img/clients/cachet.svg' %}"
          class="clients-image img-fluid"
          alt=""
        />
      </div>

      <div class="col-lg-2 col-4 clients-item-height">
        <img
          src="{% static 'img/clients/guitar-center.svg' %}"
          class="clients-image img-fluid"
          alt=""
        />
      </div>

      <div class="col-lg-2 col-4 clients-item-height">
        <img
          src="{% static 'img/clients/tokico.svg' %}"
          class="clients-image img-fluid"
          alt=""
        />
      </div>

      <div class="col-lg-2 col-4 clients-item-height">
        <img
          src="{% static 'img/clients/shopify.svg' %}"
          class="clients-image img-fluid"
          alt=""
        />
      </div>

      <div class="col-lg-2 col-4 me-auto clients-item-height">
        <img
          src="{% static 'img/clients/profil-rejser.svg' %}"
          class="clients-image img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
