{% load static %}
<section class="projects section-padding" id="section_3">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12 ms-auto">
        <div
          class="section-title-wrap d-flex justify-content-center align-items-center mb-4"
        >
          <img
            src="{% static 'img/white-desk-work-study-aesthetics.jpg' %}"
            class="avatar-image img-fluid"
            alt=""
          />

          <h2 class="text-white ms-4 mb-0">Projeler</h2>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="projects-thumb">
          <div class="projects-info">
            <small class="projects-tag">Branding</small>

            <h3 class="projects-title">Zoik agency</h3>
          </div>

          <a
            href="{% static 'img/projects/nikhil-KO4io-eCAXA-unsplash.jpg' %}"
            class="popup-image"
          >
            <img
              src="{% static 'img/projects/nikhil-KO4io-eCAXA-unsplash.jpg' %}"
              class="projects-image img-fluid"
              alt=""
            />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="projects-thumb">
          <div class="projects-info">
            <small class="projects-tag">Photography</small>

            <h3 class="projects-title">The Watch</h3>
          </div>

          <a
            href="{% static 'img/projects/the-5th-IQYR7N67dhM-unsplash.jpg' %}"
            class="popup-image"
          >
            <img
              src="{% static 'img/projects/the-5th-IQYR7N67dhM-unsplash.jpg' %}"
              class="projects-image img-fluid"
              alt=""
            />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="projects-thumb">
          <div class="projects-info">
            <small class="projects-tag">Website</small>

            <h3 class="projects-title">Polo</h3>
          </div>

          <a
            href="{% static 'img/projects/true-agency-9Bjog5FZ-oc-unsplash.jpg' %}"
            class="popup-image"
          >
            <img
              src="{% static 'img/projects/true-agency-9Bjog5FZ-oc-unsplash.jpg' %}"
              class="projects-image img-fluid"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
