{% extends 'base.html' %}

{% block title %}
Add Blog
{% endblock %}

{% block content %}
<body>
    {% include 'blog/partials/_header_navbar.html' %}
    <div class="container-fluid">
        <main class="tm-main">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-md-9 blog-main">
                        <h2>Add New Blog</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add Blog</button>
                        </form>
                    </div>
                    <aside class="col-md-3 blog-sidebar">
                        <h2 class="font-italic text-center">Categories</h2>
                        <hr class="tm-hr-primary" />
                        <h4 class="font-italic text-center">
                            {% include 'blog/partials/_categories.html' %}
                        </h4>
                    </aside>  
                </div>
            </div>
        </main>
    </div>
</body>
{% endblock %}