{% extends 'base.html' %}
{% load static  %}

{% block title %}
Blogs
{% endblock  %}

{% block content %}
<body>
    {% include 'blog/partials/_header_navbar.html' %}
    
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form start -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>
            <!-- Search form stop -->
            <div class="container text-center">
                <div class="row">
                    <div class="col-auto me-auto">
                        <div class="row tm-row">
                            {#<a>{{category.name|title}}</a> <hr> #}
                            {% if blogs|length > 0 %}
                                {% for blog in blogs %}
                                    {% if blog.is_active %}
                                        {% include 'blog/partials/_blog.html' %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-warning">No Blogs</div>
                            {% endif %}
                        </div>

                        <div class="row tm-row tm-mt-100 tm-mb-75">
                            <div class="tm-prev-next-wrapper">
                                <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Geri</a>
                                <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">İleri</a>
                            </div>
                            <div class="tm-paging-wrapper">
                                <nav class="tm-paging-nav d-inline-block">
                                    <ul>
                                        <li class="tm-paging-item active">
                                            <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                                        </li>
                                        <li class="tm-paging-item">
                                            <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                                        </li>
                                        <li class="tm-paging-item">
                                            <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                                        </li>
                                        <li class="tm-paging-item">
                                            <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>                
                        </div>
                    </div>
                    <div class="col-auto">
                        <h2 class="font-italic text-center">Kategoriler</h2>
                        <hr class="tm-hr-primary" />
                        <h4 class="font-italic text-center">
                          {% include 'blog/partials/_categories.html' %}
                        </h4>
                    </div>
                </div>    
            </div>        
{% endblock  %}            
