{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<body>
    {% include 'blog/partials/_header_navbar.html' %}
    <div class="container-fluid">
        <main class="tm-main">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-md-9 blog-main">
                        <h2>Contact Information</h2>
                        <p>You can reach us at:</p>
                        <ul>
                            <li>Email: contact@myblog.com</li>
                            <li>Phone: +123 456 7890</li>
                            <li>Address: 123 Blog Street, Blog City, Blog Country</li>
                        </ul>
                    </div>
                    <aside class="col-md-3 blog-sidebar">
                        <h2 class="font-italic text-center">Categories</h2>
                        <hr class="tm-hr-primary" />
                        <h4 class="font-italic text-center">
                            {% include 'blog/partials/_categories.html' %}
                        </h4>
                    </aside>  
                </div>
            </div>
        </main>
    </div>
</body>
{% endblock %}