<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="copyright-text-wrap">
                    <p class="mb-0">
                        <span class="copyright-text">Copyright © 2024 <a href="#">My Portfolio</a> Company. All rights reserved.</span>
                        Tasarım: 
                        <a rel="sponsored" href="" target="_blank">Kadir Karakurt</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
