{% load static %}

{% block footer %}
<footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Tasarım: <a rel="nofollow" target="_parent" href="" class="tm-external-link">Kadir Karakurt</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2024  Blog Company Co. Ltd.
                </div>
            </footer>
        </main>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
{% endblock %}